@import 'vars';
@import 'fonts';
@import 'reset';
@import 'libs';
@import 'global';



.header{
  background-position: inherit;
  background-size: cover;
  background-repeat: no-repeat;
}
.header-top {
  position: fixed;
  top: 50px;
  left: 0;
  right: 0;
  display: flex;
  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__logo {
    display: block;
  }
}
.menu {
  display: flex;
  align-items: center;
  ul.menu__list {
    display: flex;
    margin-right: 35px;
  }
  &__item {
    margin-left:0;
    & + .menu__item {
      margin-left: 25px;
    }
  }
  &__item-link {
    display: block;
    @extend %openSans-700;
    font-size: 14px;
    line-height: 19px;
    color: $white;
    &:hover {
      color: $accent1;
    }
  }
  &__btn {
    display: inline-block;
    svg {
      path {
        fill: $white;
      }
      path {
        fill: $white;
      }
      path {
        fill: $white;
      }
    }
  }
  &__user{
    display: flex;
    align-items: center;
    position: relative;
    padding-left: 33px;
    margin-left: 20px;
    &::before {
      position: absolute;
      content: '';
      left: 0;
      top: 0;
      background-color: $white;
      width: 1px;
      height: 51px;
    }
  }
  &__user-box {
    width: 160px;
    margin-right: 45px;
  }
  &__user-link{
    display: block;
    @extend %openSans-700;
    font-size: 18px;
    line-height: 25px;
    color: $white;
    padding-left: 29px;
    position: relative;
    &::before {
      position: absolute;
      content: '';
      background-image: url('../images/icon/phone.svg');
      width: 23px;
      height: 23px;
      left: -1px;
      top: 0;
    }
  }
  &__user-text {
    @extend %openSans-400;
    font-size: 14px;
    line-height: 19px;
    color: $white;
  }
}

.hero {
  padding-top: 118px;
  &__inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: calc(100vh - 118px);
    width: 556px;
    justify-content: center;
  }

  &__subtitle,
  &__title {
    @extend %tinos-400;
    color: $accent1;
    text-align: center;
  }

  &__subtitle {
    font-size: 50px;
    line-height: 57px;
  }

  &__title {
    font-size: 80px;
    line-height: 92px;
    margin-bottom: 12px;
  }

  &__subtext {
    @extend %openSans-400;
    font-size: 18px;
    line-height: 25px;
    color: $white;
    position: relative;
    padding: 0 70px;
    margin-bottom: 20px;

    &::before,
    &::after {
      position: absolute;
      content: '';
      width: 61px;
      height: 2px;
      background-color: $white;
      top: 50%;
      transform: translateY(-50%)
    }

    &::before {
      left: 0;
    }

    &::after {
      right: 0;
    }
  }

  &__link {
    display: inline-block;
    @extend %openSans-700;
    font-size: 14px;
    line-height: 19px;
    color: $white;
    padding: 14px 28px;
    background-color: $orange-btn;
  }
}
//story
.story {
  padding-bottom: 120px;
  &__card-block {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    top: -106px;
  }
  &__card {
    width: 350px;
    height: 328px;
    padding: 35px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 10px 10px 40px 20px rgba(0, 0, 0, 0.1);
    background-color: $white;
  }
  &__img {
    width: 87px;
    height: 87px;
    object-fit: cover;
  }
  &__card-title {
    @extend %tinos-400;
    font-size: 26px;
    line-height: 30px;
    color: $black;
    margin-bottom: 20px;
    span {
      color: $accent2;
    }
  }
  &__card-text {
    @extend %tinos-400;
    font-size: 26px;
    line-height: 30px;
    color: $text;
    text-align: center;
    white-space: pre-line;
  }
  &__inner {
    display: flex;
    justify-content: space-between;
  }
  &__content {
    width: 444px;
    text-align: center;
    padding-top: 15px;
  }
  &__content-title {
    margin-bottom: 20px;
  }
  &__content-text {
    @extend %openSans-400;
    font-size: 16px;
    line-height: 22px;
    color: $text;
    margin-bottom: 40px;
  }
}
.celebrate {
  padding: 80px 0 105px;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__content {
    width: 601px;
  }
  &__title {
    @extend %tinos-400;
    font-size: 52px;
    line-height: 60px;
    color: $accent1;
    margin-bottom: 20px;
  }
  &__text {
    @extend %openSans-700;
    font-size: 24px;
    line-height: 33px;
    color: $white;
  }
}
.dishes {
  padding: 130px 0 150px;
  &__title {
    text-align: center;
    margin-bottom: 150px;
  }
  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__img {
    width: 445px;
    height: auto;
    object-fit: cover;
  }
  &__list {
    width: 100%;
    margin-left: 30px;
  }
  &__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
    &:last-child {
      margin-bottom: 0;
    }
  }
  &__item-img {
    width: 160px;
    height: 140px;
    object-fit: cover;
  }
    &__item-name {
      margin-left: 30px;
    }
  &__item-name,
  &__item-prise,
  &__item-separator {
    @extend %tinos-400;
    font-size: 26px;
    line-height: 30px;
    color: $black;
  }
  &__item-prise {
    display: flex;
  }
  &__item-separator {
    width: 100%;
    margin: 0 5px;
    padding: 0 5px;
    white-space: nowrap;

    &::after {
      display: block;
      content: '';
      border-bottom: 2px dotted $black;
      content: "";
      flex-grow: 1;
      width: 100%;
    }
  }
}

@import 'media';